@font-face {
  font-family: finkHeavy;
  src: url(../FinkHeavy.ttf);
}

.container {
  position: relative;
  max-width: 500px;
  margin-left: 150px;
  margin-top: 70px;
}

.figure {
  width: 100%;
  height: 100%;
}

.welcomeBubble {
  position: relative;
}

.figure figcaption .hello {
    color: black;
    font-family: finkHeavy;
    position: absolute;
    top: 4%;
    left: 19%;
}

.figure figcaption .pageTitle {
    color: #2EB353;
    font-family: finkHeavy;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 38%;
}