@font-face {
  font-family: finkHeavy;
  src: url(../FinkHeavy.ttf);
}

.browserView {
  position: relative;
  max-width: 600px;
}

.browserView .figure {
  width: auto;
  height: 100%;
}

.browserView .welcomeBubble {
  position: relative;
}

.browserView .figure figcaption .hello {
    color: white;
    font-family: finkHeavy;
    position: absolute;
    top: -2.8%;
    left: 16%;
}

.browserView .figure figcaption .pageTitle {
    color: #2EB353;
    font-family: finkHeavy;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 35%;
}

.browserView .figure .apple {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10%;
}

.mobileView {
  display: grid;
  position: relative;
  width: 100%;
}

.mobileView .mobFigure {
  width: auto;
  display: grid;
  grid-area: 1/1;
}

.mobileView .mobWelcomeBubble {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 10%);
  margin-top: 30%;
}

.mobileView .mobFigure figcaption .hello {
  color: white;
  font-family: finkHeavy;
  position: absolute;
  top: 25%;
  left: 16%;
}

.mobileView .mobFigure figcaption .mobPageTitle {
  color: #2EB353;
  font-family: finkHeavy;
  font-size: x-large;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 26.50%;
}

.mobileView .mobFigure .mobApple {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20%;
}